.img-left {
  width: 38.8%;
  display: inline-block;
  overflow: hidden;
  float: left;
}
.img-left img {
  width: 100%;
  max-width: 375px;
}

.right-text {
  font-family: 'Teko', sans-serif;
  float: left;
  width: 55%;
  display: inline-block;
}
.right-text ul {
  list-style: none;
  font-size: 3.625rem;
  text-align: center;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .wrap {
    display: table !important;
  }
  .top {
    float: none;
    display: table-header-group !important;
    min-width: 100%;
  }
  .midle {
    float: none;
    display: block;
    min-width: 100%;
    text-align: center;
  }
  .bottom {
    float: none;
    display: table-footer-group;
    min-width: 100%;
  }
  .window {
    width: 96% !important;
  }
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 64%;
  }
}
@media screen and (max-width: 352px) {
  html {
    font-size: 50%;
  }
}


.bg {
  background-color: #81afe3;
  position: absolute;
  width: 100%;
  height: 120%;
  left: 0;
  top: 0;
  z-index: 9999;
}
.wrap {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: block;
  background-color: #81afe3;
}

.text-block {
  text-align: center;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 500;
}
.text-block span {
  text-transform: uppercase;
}
.text-block u {
  font-style: italic;
}

.tinder {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5625rem;
  text-align: left;
  line-height: 1.2;
  font-weight: 400;
}
.tinder span {
  padding-top: 2.4375rem;
  float: left;
}

.main-btn {
  cursor:pointer;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  height: 4.7rem;
  display: block;
  width: 94%;
  margin: 20px auto 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 black;
}

.header-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  border-radius: 0;
  width: 95%;
  text-align: center;
  min-width: 300px;
  max-width: 700px;
  position: relative;
  margin: 1.5625rem auto 0.625rem;
}
.header-text h5 {
  font-size: 2.25rem;
  line-height: 1.2;
  color: white;
  margin: 0;
  font-weight: normal;
}
.header-text p {
  font-size: 1.125rem;
  margin: 15px 0;
  color: #444;
}
.header-text u {
  font-weight: bold;
}

.window {
  font: 1.375rem/1.1 'Open Sans', sans-serif;
  overflow: hidden;
  width: 100%;
  min-width: 292px;
  max-width: 700px;
  margin: 0 auto;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #fff;
  display:none;
}

.animation {
  display: block;
  animation-duration: 0.6s;
  animation-name: windowOpacity;
}

@keyframes windowOpacity {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

.header_window {
  display: table;
  width: 101%;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.4375rem;
  line-height: 35px;
  padding: 10px 0;
}
.text-normal {
  font-weight: normal !important;
}
.text-margin {
  margin-top: 10px !important;
}

.circle {
  font: 1.4375rem 'Open Sans', sans-serif;
  text-shadow: 0 1px #666;
  color: #000;
  background: #555;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  margin: 0 1px;
}
.active {
  background-color: #e7e7e7 !important;
}

.btn_block {
  clear: both;
  text-align: center;
  padding-bottom: 15px;
}
.question_block {
  margin: 0 auto;
  padding: 10px;
  min-height: 80px;
}
.question_block p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.375rem;
}
.question_block span {
  display: block;
  font-size: 1.375rem;
  color: #666;
  text-align: center;
}
.answer_block {
  width: 90%;
  max-width: 315px;
  margin: 15px auto;
}
.answer_block label {
  font-size: 1.375rem !important;
}
.answer_item {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 0 10px 0;
  font: bold 1.875rem 'Open Sans', sans-serif;
  width: 45%;
  cursor: pointer;
  color: white;
  text-align: center;
}
.green {
  background-color: #0c0;
  background-image: linear-gradient( 180deg, rgb( 0, 204, 0) 0%, rgb( 0, 153, 0) 100%);
  text-shadow: 0 -1px #060;
  border-radius: 4px 0 0 4px;
  margin-right: 6px;
}
.red {
  background-color: #c00;
  background-image: linear-gradient( 180deg, rgb( 204, 0, 0) 0%, rgb( 153, 0, 0) 100%);
  text-shadow: 0 -1px #300;
  border-radius: 0 4px 4px 0;
}
.next {
  width: 90% !important;
  max-width: 315px;
  min-width: 200px;
  color: black;
  border-radius: 4px;
  background-color: #ffe500;
  background-image: linear-gradient( 180deg, rgb( 255, 229, 0) 0%, rgb( 254, 188, 0) 100%);
  text-shadow: 0 1px #ffe500;
  text-decoration: none;
}
